@import url(quicksand.css);
@import url(asap.css);

body {
  margin: 0;
  background-color: #403f45;
}

#email{
    margin-top: 10%;
    margin-left: 10%;
    font-family: 'Quicksand-Regular';
    font-size: 30px;
    color: #ffffff;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    background: linear-gradient(90deg, #FF7C82 25%, #98AD8D 50%, #98CCC9 75%, #998CED 100%);  background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  
  }