@import url(asap.css);
@import url(quicksand.css);

body{
 margin:0;        
 background-color:#403F45;
} 
nav{
    height: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
   }


#logo{ 
    margin-top:15%;
   max-width: 8%;
   max-height: 8%;
   position: absolute;
  margin-right: 80%;
    width: 100vw;
    height: 100vh;
    animation: rotation 10s infinite ease-in-out;
    
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  
  
  }


.scrollInfo{
    width: 50%;
   margin-left: 10%;
   margin-top: 20%;

}

p{    
flex-shrink: 0;
color: #FFF;
/* Body */
font-family: 'Asap-regular';
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 125.487%; /* 45.175px */
}

.rainbow{
background: linear-gradient(90deg, #98CCBE 27.58%, #D2D87E 36.17%, #FD696F 47.73%, #FBB16E 56.31%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/* Body */
font-family:  'Asap-regular';
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 125.487%;
}

.tryitout{
    margin-top:5%;
    margin-left: 10%;
    display:flex;
    align-items: center;
    position:sticky;


}

#scrollArrow{
    width:40%;
    padding-left:3%;

}



/*I want to animate the letters to bounce*/
h3{
font-family:  'Asap-regular';
font-size: 25px;
font-style: normal;
font-weight: 400;
color:white;
}


button{
background-image: url('/Users/morganwhapeles/Documents/GitHub/morgsdoesdesigns/assests/ButtonStatic.svg');
height: 300px;
width:200px;

}






 /*Horizontal Scroll */
 /*.scroll{
    overflow:none
    white-space: nowrap;
  }*/