@import url(quicksand.css);


body {
  height:100vh;
  width:400vh;
  display:flex; 
  align-items:center; 
  justify-content:flex-start;
  background: #9DBAED;
  overflow-x: scroll;
 }
    

h1 { font-family: 'Quicksand-Regular';
color:navy;
font-size: 200px;
}

p { font-family: 'Quicksand-Regular';
font-size: medium;
}

#bio{
  text-align:left;
  line-break: auto;
}

ul{
  list-style: none;
}

a {font-family: 'Quicksand-Light';
  text-decoration:none;
color:#FFEEF3;
}
img {width: 400px; 
height: 400px;
padding: 0px 50px 50px 0px;}

