@import url(quicksand.css);


body {
  display:flex; 
  align-items:center; 
  justify-content:flex-start;
  height:100vh;
  background: #9DBAED;
 }
    

h1 { font-family: 'Quicksand-Regular';
color:navy;
font-size: 200px;
}

p { font-family: 'Quicksand-Regular';
font-size: medium;
display:flex;
flex-direction: baseline;}

ul{
  list-style: none;
}

a {font-family: 'Quicksand-Light';
  text-decoration:none;
color:#FFEEF3;
}
img {width: 400px; 
height: 400px;
padding: 0px 50px 50px 0px;}

