@import url(quicksand.css);




/*my styles*/

body{
  margin:0;
  display:grid;
  } 
  

svg { display:grid;
  margin: -100px 0px 0px -300px;
}

h1 { display:grid;
  font-family: 'Quicksand-Regular';
color:navy;
font-size: 100px;}

p { font-family: 'Quicksand-Regular';
font-size: medium;
}


li {  display:flex; 
  align-items:center; 
  justify-content:flex-start;
  list-style: none;
}

ul{
  display:flex; 
  align-items:center; 
  justify-content:flex-start;

}

a {  display:flex; 
  align-items:center; 
  justify-content:flex-start;
  font-family: 'Quicksand-Regular';
  font-size:2em;
  text-decoration:none;
color:darkorange;
}
img {width: 400px; 
height: 400px;
padding: 0px 50px 50px 0px;
border-radius: 50% 50% 50% 50%;
}



footer {
  display:grid;
  margin:0;
background-color: cadetblue;
font-family: 'Quicksand-Light';

  }


.parent {
  display: grid;
  grid-template-columns: .25fr 2fr .5fr 2fr .25fr;
  grid-template-rows: 2fr 1fr 3fr 1fr 1.5fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: 
  "div2 div2 div2 div4 . "
  ". div7 div7  div8 div8"
  ". div12 div14 div14 ."
  ". . . div21 div21"
  "div21 div21 div21 div21 div21";
  }
  

  .div2 { grid-area: 1 / 2 / 2 / 3; 
  grid-area:'div2'}
  .div4 { grid-area: 1 / 4 / 2 / 5;
  grid-area: 'div4'; }
  .div7 { grid-area: 2 / 3 / 3 / 4; 
  grid-area:'div7';}
  .div12 { grid-area: 3 / 2 / 4 / 3;
    grid-area:'div12'; }
  .div14 { grid-area: 3 / 4 / 4 / 5;
    grid-area:'div14'; }
  .div21 { grid-area: 5 / 1 / 6 / 2;
    grid-area:'div21'; }
